body{
  margin:0;
}

header{
  padding:1vh;
}
.flero{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  text-align: center;
}

.menus{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.line{
  display:block;
  background-color:blue;
  height:2px;
  width:100%;
  margin-top:10px;
}

.line1{
  display:block;
  background-color:blue;
  height:100%;
  width:2px;
}

h1{
  margin:0;
}

nav a{
  text-decoration:none;
}

footer,h3{
text-align: center;
}

.photo{
  height:400px;
  width:100%;
}

.vvv{
  background:blue;
  border:2px solid white;
  padding:10vh;
}
